.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100svw;
	height: fit-content;
	padding-left: clamp(1rem, 5vw, 5rem);
	padding-right: clamp(1rem, 5vw, 5rem);
	padding-top: clamp(2rem, 6rem, 3rem);
	padding-bottom: clamp(2rem, 6rem, 3rem);

	h1 {
		font-size: clamp(1rem, 8vw, 8rem);
		color: #fff;
		line-height: 1;
	}

	p {
		font-size: clamp(1rem, 2vw, 2rem);
		color: #fff;
		line-height: 1.5;
	}
}
